html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #DDD;
}

.navigation {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 35px;
}

.navigation img {
    width: 18px;
    height: 18px;
    background-color: #555;
    border-radius: 95%;

}

.navigation ol {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    text-decoration: underline;
    color: black;
}

.current-page {
    text-decoration: underline;
}

.main {
    margin: auto;
    text-align: center;
    width: 75%;
}

.main a {
    color: black;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.hero {
    font-size: 18px;
    margin-bottom: 0px;
}

.faq {
    border-top: 2px solid black;
    margin: auto;
    width: 50%;
}

.faq h2 {
    margin-bottom: 0px;
    text-align: center;
}

.faq p {
    margin-top: 0px;
}

.faq img {
    width: 100px;
    height: 100px;
}

.comment-box {
    width: 35%;
    margin: auto;
    text-align: left;
}

.comment-box p {
    text-align: center;
    font-weight: 600;
}

fieldset {
    border-radius: 1%;
}

.textform {
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
}

.textform input {
    display: block;
}

.checkbox input {
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

textarea {
    display: block;
    height: 100px;
    width: 99%;
}

button {
    display: block;
    margin: auto;
    cursor: pointer;
}

.images {
    width: 75%;
    margin: auto;
}

.images img {
    background-color: #999999;
    width: 256px;
    height: 256px;
    border-radius: 5%;
}

.links {
    list-style-type: none;
    text-align: center;
    padding: 0%;
}

.links li {
    margin-bottom: 1%;
    padding: 0%;
    text-align: center;
}

.tile {
    margin: 0px 5px 10px 5px;
}

.tile-row {
    display: flex;
    justify-content: center;
}
